 <div class="">picture</div>
        {{!-- picture query --}}
    <div class="">
        <span class="text-center ml-10 mr-10 text-3xl inline-block align-middle">{{game.h_team.name}}</span> 
        {{!-- name query --}}
    </div>
    <div class="">
        <p class="text-center">9/06/21  2:15pm</p> 
        {{!-- time query--}}
        <p class="text-center text-3xl font-extrabold">VS</p>
        
        <p class="text-center">Sacred Heart College Oval</p>
        {{!-- location query --}}
    </div>       
    <div class="">
        <span class="text-center ml-10 mr-10 text-3xl inline-block align-middle">Team 2</span>
        {{!-- name query --}}
    </div>
    <div class="">picture</div>
    {{!-- picture query --}}
</div>