<div class="flex items-start justify-around border-solid bg-white p-4 rounded-lg w-full mb-8 lg:w-3/4">
    <div class="rounded-full overflow-hidden"><img src="https://via.placeholder.com/75x75" alt=""></div>
    {{!-- picture --}}
    {{!-- left --}}
    <div class="flex flex-col items-center ">
        <span class="text-center mx-6 text-2xl inline-block align-middle">{{homeTeam}}</span>
        <span class="text-center mx-6 text-2xl inline-block align-middle">1</span>
        {{!-- score --}}

    </div>

    {{!-- middle --}}
    <div class=" justify-center items-center">
        <p class="text-center">{{date_time}}</p>
        {{!-- time date --}}
        <p class="text-center text-3xl font-extrabold">VS</p>
        <p class="text-center">Sacred Heart College Oval</p>
        {{!-- location --}}
    </div>

    {{!-- right --}}
    <div class="flex flex-col items-center ">
        <span class="text-center mx-6 text-2xl inline-block align-middle">{{awayTeam}}</span>
        <span class="text-center mx-6 text-2xl inline-block align-middle">1</span>
        {{!-- score --}}


    </div>

    <div class="rounded-full overflow-hidden"><img src="https://via.placeholder.com/75x75" alt=""></div>
    {{!-- picture --}}
</div>