<div class="container">
    <div class="flex flex-col md:flex-row">
        <div class = "md:auto-cols-min">
            <h2>Hi {{user.name}},</h2>
            <p>Your dashboard:</p>
        </div>
        <div class = "md:auto-cols-min">
            team 1 vs team 2
        </div>
    </div>
    
  
</div>
