<div class="container">
    <div class="flex justify-center">
        <div class="w-full">
            <h1>Welcome Home</h1>
        </div>
    </div>
</div>
<div class="mb-20 mt-8 ml-10 text-4xl font-semibold ">
    <h1>Schedule</h1>
</div>

{{#each games as |game| }}
{{> game }}
{{/each}}