<div class="mb-20 mt-8 ml-10 text-4xl font-semibold ">
    <p>TEAM NAME HERE
    </p>
    </div>

<div class="container flex flex-row flex-nowrap justify-center border-solid mt-8 mb-8 ...">
  <div class="">picture
  </div>
  <div class="flex align-middle">
    <p class="flex text-center ml-10 mr-10 text-3xl inline-block align-middle">Team 1</p> 
  </div>
   <div class="">
      <p class="text-center">9/06/21  2:15pm</p>
      <p class="text-center text-3xl font-extrabold">VS</p>
      <p class="text-center">Sacred Heart College Oval</p>
  </div>

  <div class="">
    <span class="text-center ml-10 mr-10 text-3xl inline-block align-middle">Team 2</span>
  </div>
<div class="">picture</div>
</div>

<div class="container flex flex-row flex-nowrap justify-center border-solid mt-8 mb-8 ...">
  <div class="">picture
  </div>
  <div class="align-middle">
    <p class="text-center ml-10 mr-10 text-3xl inline-block align-middle">Team 1</p> 
  </div>
  <div><p class="inline-block align-middle mr-10">00.00.000</p></div>
   <div class="">
      <p class="text-center">9/06/21  2:15pm</p>
      <p class="text-center text-3xl font-extrabold">VS</p>
      <p class="text-center">Sacred Heart College Oval</p>
  </div>
  <div><p class="inline-block align-middle ml-10">00.00.000</p></div>
  <div class="">
    <span class="text-center ml-10 mr-10 text-3xl inline-block align-middle">Team 2</span>
  </div>
<div class="">picture</div>
</div>
