/* tom  */
* {
  margin: 0px;
  padding: 0px;
  transition: 0.2s;
}

form.signup,
form.login {
  margin-top: 50px;
}

a.signupLink:hover {
  text-decoration: underline;
}

#follow-button {
  color: #3399FF;
  font-family: "Helvetica";
  font-size: 12pt;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #3399FF;
  border-radius: 3px;
  width: 85px;
  height: 30px;
  cursor: hand;
  text-align: center;		    
}