form.signup,
form.login {
  margin-top: 50px;
}
<<<<<<< HEAD
=======

/* * {
  font-family: "Courier New", Courier, monospace;
} */
/* change font */

a.signupLink:hover {
  text-decoration: underline;
}
>>>>>>> origin/main
